<div class='collection-citation-wrapper'>
	<div class='collection-player-nav clearfix'>

		<a href='#' id='PT-preview-left' class='hide'>
			<img src='assets/img/arrow-right.png' style='-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);'/>
		</a>
		<a href='#' id='PT-preview-right' class='hide'>
			<img src='assets/img/arrow-right.png'/>
		</a>

	</div>
	<div class='collection-citation-content'>
		<div class='frame-citation-info clearfix'></div>
		<div class='collection-citation-info clearfix'>
			<div class='pull-left'><i>Collection: <a href='/collections/<%= id %>'><%= title %></a></i></div>
		</div>
	</div>
</div>