<div class='featured citation-wrapper'>
	<div class='citation-inner clearfix'>

		<div class='citation-top clearfix'>
			<h2 class='citation-title pull-left'><%= title %></h2>
		
			<!--
			<div class='citation-geo pull-right'><a href='#'><%= location %></a> <i class='icon-map-marker icon-white'></i></div>
			-->
		
		</div>

		<ul id='featured-items-drawer'></ul>

		<a href='#' id='info-hover'>
			<div class='hide info-box'>These are user Submissions. Tag <b>#<%= title.replace(/\s/g, '') %></b> to add your own stories & media to this takeout</div>
			<i class='icon-comment icon-white'></i>
		</a>

	</div>
</div>





