<ul class="modal-tabs-head">
	<li class="active">About the project</li>
	<li>Who We Are</li>
	<!--<li>Podcasts</li>-->
	<li>中文</li>
	<li><a href='http://blog.planettakeout.org' target='blank'>Blog</a></li>
	<li>Contact</li>
</ul>
<div class="modal-tabs">
	<div class="modal-tab">
		<div class="left-column">
			<p>
			<ul class="PT-feature-wrapper">
				<li class="PT-feature-thumb"><a href="/featured/46332"><img src="assets/img/gifs/food_wall.gif"></a></li>
				<li class="PT-feature-thumb"><a  href="/featured/46333"><img src="assets/img/gifs/hongkong2.gif"></a></li>
				<li class="PT-feature-thumb"><a  href="/featured/47838"><img src="assets/img/gifs/yumyum2.gif"></a></li>
				<li class="PT-feature-thumb" style="padding-right:0px"><a  href="/featured/46335"><img src="assets/img/gifs/pekinghouse2.gif"></a></li>
			</ul>
			</p>
			<p>In virtually every neighborhood of every city and town in America, there’s a Chinese takeout. Each sits at the intersection where an immigrant worker meets a person who lives down the street, where the needs of the neighborhood are met by the adaptability of takeout owners, where food is exchanged, money, and perhaps words. Places where communication may be difficult but a sense of community can take root.</p>
			<p>There are 10,000 takeouts in the U.S., which prepare more than 2 million meals every day, and who knows how many around the world. Planet Takeout aims to document these takeouts and use them as lenses into our local neighborhoods.</p>
			<p>Enter Planet Takeout, a participatory documentary project about the Chinese takeout as a vital cultural crossroads.</p>
			<p>This is where you come into the picture.</p>
			<p>I bet you’ve gone to one of these takeouts, eaten a few of those meals. Maybe you’re even a regular at one. So much so that the staff knows your order when they hear your voice, perhaps?</p>
			<p>Or maybe you or your family has experience working in or running a takeout. You’ve gotten to know your regular customers’ quirks and adjusted to the life of a small business owner far from home.</p>
			<p>Even if we could clone 10,000 versions of ourselves, you’d still be the one with the story, the one with the relationship across the counter, the one who might know the local characters and the ways the takeout fits into your neighborhood. The one with the memories to share.</p>
			<p>So please help us out!</p>
			<p>We’ve started with four takeouts in Boston. One in Dorchester that created a dollar menu to cater to local teens. Another in Roxbury run by a second-generation takeout owner who coaches a local high school football team on the side. </p>
			<p>But we need your energy and creativity to expand outwards and to paint a portrait of the the city, the country and the planet, takeout by takeout.</p>
			<p><i>Planet Takeout is a collaboration between Val Wang, WGBH 89.7 and Zeega. It is part of Localore, a nationwide production of the Association of Independents in Radio (AIR) with funding from the Corporation for Public Broadcasting.</i></p>
		</div>
		<div class="right-column">
			<h3>Our Partners</h3>
			<div class="info-tab media">
				<span class="carat"></span>
				<div class="content">
					<a href="http://airmediaworks.org/localore" target="_blank"><img src="assets/img/logo_localore.png" alt="Localore" /></a>
					<a href="http://airmediaworks.org/" target="_blank"><img src="assets/img/logo_air.png" alt="AIR" /></a>
					<a href="http://www.wgbh.org/" target="_blank"><img src="assets/img/logo_wgbh.png" alt="WGBH" /></a>
					<a href="http://alpha.zeega.org/" target="_blank"><img src="assets/img/logo_zeega.png" alt="Zeega" /></a>
				</div>
			</div>
			<h3>Support By</h3>
			<div class="info-tab media">
				<span class="carat"></span>
				<div class="content">
					<a href="http://www.cpb.org/" target="_blank"><img src="assets/img/logo_cpb.png" alt="CPB" /></a>
					<a href="http://www.macfound.org/" target="_blank"><img src="assets/img/logo_macarthur.png" alt="MacArthur Foundation" /></a>
					<a href="http://www.wyncotefoundation.org/" target="_blank"><img src="assets/img/logo_wyncote.png" alt="Wyncote Foundation" /></a>
					<a href="http://artworks.arts.gov/" target="_blank"><img src="assets/img/logo_artworks.png" alt="Art works. arts.gov" /></a>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-tab" style="display: none;">
		<div class="wrap-columns">
			<div class="left-column">
				<h2>Val Wang, Director</h2>
				<p><a href='http://www.valwang.com/' target='blank'>Val Wang</a> is a writer and multimedia documentarian based in Boston. She has produced OpenCourt for WBUR, documentaries airing on PBS and the National Geographic Channel and worked for Reuters Television, NBC News, and UNICEF. Her memoir about China, provisionally titled Beijing Bastard, is forthcoming from Penguin. She is always thinking about her next meal, and usually the one after that too.</p>
				<h4>First time ate Chinese takeout:</h4>
				<p>While sitting on the floor of boyfriend’s new apartment in Brooklyn, surrounded by moving boxes. Tofu and mixed vegetables from King Kong Chinese Restaurant around the corner. Verdict: Inauthentic but delicious.</p>
				<h4>Most memorable fortune:</h4>
				<p>There is no time like the pleasant.</p>
			</div>
			<div class="right-column">
				<img src="assets/img/bio_val.jpg" alt="" />
			</div>
		</div>

		<div class="wrap-columns">
			<div class="left-column">
				<h2>Kelly Creedon, Producer</h2>
				<p><a href='http://www.kellycreedon.com/' target='blank'>Kelly Creedon</a> is a documentary photographer and multimedia producer based in Boston. Most recently, she is the creator and producer of We Shall Not Be Moved, a multimedia documentary project that tells the story of the growing grassroots anti-foreclosure movement in Massachusetts. Kelly’s work has been featured by the Boston Globe, Boston Magazine, Shelterforce, WBUR, WGBH, and the Bay State Banner, among others. She is a graduate of the Salt Institute for Documentary Studies in Portland, Maine.</p>
				<h4>Favorite takeout for ambience:</h4>
				<p>Yum Yum</p>
				<h4>Most memorable fortune:</h4>
				<p>One of the keys to happiness is a bad memory.</p>
			</div>
			<div class="right-column">
				<img src="assets/img/bio_kelly.jpg" alt="" />
			</div>
		</div>

		<div class="wrap-columns">
			<div class="left-column">
				<h2>Zeega, Interactive Producers</h2>
				<p><a href='http://alpha.zeega.org/' target='blank'>Zeega</a> is a non-profit inventing new forms of interactive storytelling. The Zeega team is an expanding mix of media-makers, artists and creative technologists. We create projects across multiple platforms, connect digital media to physical spaces, and develop open-source tools to enable anyone to experiment with the web as a creative medium.</p>
				<h4>Favorite takeout dish:</h4>
				<p>Kung Po Chicken</p>
				<h4>Most memorable fortune:</h4>
				<p>A fun party is soon to be in your future.</p>
			</div>
			<div class="right-column">
				<img src="assets/img/bio_zeega.gif" alt="" />
			</div>
		</div>

		<div class="wrap-columns">
			<div class="left-column">
				<h2>Golden Arrows, Designers</h2>
				<p>Golden Arrows is a graphic design cooperative comprised of Nerissa Cooney and Alexander Hage. After studying design and fine art at Boston University, they formed Golden Arrows in 2009. Working for people who do audacious and inspired work in their communities, they always consider the logic, function and aesthetic of each project, and take a deeply collaborative approach to all their work. They are members of and helped start a creative cooperative workspace that provides a center for people doing social justice and community positive work. The values of the space and its central location in Boston's South End make it an ideal setting for the micro-grant supper Feast Mass, which Golden Arrows also organizes.</p>
				<h4>Favorite takeout dish:</h4>
				<p>Singapore rice noodles</p>
				<h4>Most memorable fortune:</h4>
				<p>Playing safe is only playing.</p>
			</div>
			<div class="right-column">
				<img src="assets/img/bio_golden_arrows.jpg" alt="" />
			</div>
		</div>

		<div class="wrap-columns">
			<div class="left-column">

				<h2>AIR, Localore Executive Producer</h2>

				<p><a href='http://airmediaworks.org/' target='blank'>AIR</a> is a creative brain trust made up of more than 860 media makers from across the US and 20 countries worldwide who are re-imagining and reinventing public media and journalism for the 21st century. Its programs are designed to identify, cultivate, and deploy gifted talent for the benefit of citizens across the US.</p>
				
				<h4>Last dish ordered from a Chinese takeout:</h4>
				<p>Jumbo Shrimp in Black Bean Sauce over Chow Foon</p>

				<h4>I eat Chinese takeout when:</h4>
				<p>Home alone or family is out of town</p>

			</div>
			<div class="right-column">
				<img src="assets/img/air.gif" alt="" />
			</div>
		</div>

		<div class="wrap-columns">
			<div class="left-column">

				<h2>WGBH</h2>

				<p><a href='http://www.wgbh.org/' target='blank'>WGBH</a> is a local public broadcaster serving southern New England, with 11 public television services, three public radio services, and local productions (from <a href='http://www.wgbh.org/programs/programDetail.cfm?programID=11' target='blank'>Greater Boston</a> to <a href='http://www.wgbh.org/listen/jazz.cfm' target='blank'>Jazz on WGBH with Eric Jackson</a>) that reflect the issues and cultural riches of our region.</p>
				
				<h4>Last dish ordered from a Chinese takeout:</h4>
				<p>Vegetable Lo Mein</p>

				<h4>Most memorable fortune:</h4>
				<p>Now is the time to try something new</p>

			</div>
			<div class="right-column">
				<img src="assets/img/logo_wgbh.png" alt="" />
			</div>
		</div>

	</h2>
	</div>

	<div class="modal-tab" style="display: none;">
		<p>Planet Takeout 是个广播和纪录片双媒体项目, 目的是纪录移民来的餐厅从业人员和 他们的客人的生活，以及他们两者之间所产生的互动。我希望这个项目能够让美国 大众体会这些移民们的生活经历，也能够让美国公众和他们所在社区里的人更能互 相了解彼此。本项目由Val Wang（王振珞）制作，波士顿公众电台WGBH 89.7播 出。</p>
		<p>我们需要你的帮助。美国有一万多个外卖餐厅，单在这个国家这些外卖餐厅每天就 要准备200万份食物。从世界范围来讲， 外卖餐厅每天准备的食物会更多。所以你 和你家人有没有在经营外卖餐厅或者在那里工作的经验呢？从外国移民来美国开始 小生意是怎样的体会？你是不是认识了些老客户并且已经习惯了远离家乡的生活？你觉得在美国这里的生活是简单，还是很难或者是很出人意料呢？ 我们想要听听 你的故事。</p>
		<p>PlanetTakeout.org 网站的 主要功能是互动,并且自由地让大 众上载自己经营、 递送,或购 买、享用外卖的故事。大众可 以通过文字、声音和影像等多 种形 式来讲述相关故事,然后 自己直接上传。</p>
		<p>(1)拨打波士顿区域内的免 费热线电话617-477-8688</p>
		<p>(2) 给我发电邮： val@planettakeout.org。 你可以写故事或者 发照片和菜单。</p>
		<p>请告诉我你的餐厅的地址。如果留电话号码，我可以给你回电话。多谢！</p>
	</div>
		<div class="modal-tab" style="display: none;">
		<p>three: awaiting content</p>
	</div>
	<div class="modal-tab" style="display: none;">
		<p>email us: <a href='mailto:val@planettakeout.org' target='blank'>val@planettakeout.org</a> or message us on <a href='http://www.facebook.com/PlanetTakeout' target='blank'>facebook</a></p>
	</div>
	<div class="modal-tab" style="display: none;">
		
	</div>
</div>
