<div id='nav-upper'>
	<ul>
		<li><a href="/browser"><img class='pt-logo' src="assets/img/pt_logo-white.png"/></a></li>
	<ul>
</div>
<div id='nav-lower'></div>
<div id='app-base'>
	<div id='grid-view-wrapper' style="background-color:#FFD8AB">
	<div id='grid-view-slider'>
		<div class='grid-view-title' style="margin-top: 60px;padding-bottom: 40px; margin-right: 50px;">
			<h2 style="font-size:24px; line-height:24px;">Planet Takeout is a participatory documentary project about the 
Chinese takeout as a vital cultural crossroads in Boston and beyond.</h2>
		</div>
		<ul class='list clearfix'></ul>
		
		<div id="bad-browser">
				<div id="browser-bubble-content" style="width: 475px; position: absolute; padding-left: 225px; padding-top: 10px;">
                	<span id="text-bad-browser">
                	<h1 style=" color: brown; font-size: 23px;">Purry please update your browser!</h1>
                	<p style="line-height:13px">Your browser is out of date and your experience is important to us. Please update your browser to ensure you can enjoy our delicious world.</p>
                	<p>Select one of the icons below to download the latest version:</p>
                	
                	</span>
                	<ul style="padding-top:20px; padding-left:70px;">
                		<li style="float:left; padding-right:30px;"><a href="http://windows.microsoft.com/en-US/internet-explorer/downloads/ie"><img src="assets/img/ie.png"/></a></li>
                		<li style="float:left; padding-right:30px;"><a href="http://www.google.com/chrome"><img src="assets/img/chrome.png"/></a></li>
                		<li style="float:left; padding-right:30px;"><a href="http://www.apple.com/safari/"><img  src="assets/img/safari.png"/></a></li>
                		<li style="float:left; padding-right:30px;" ><a href="http://www.mozilla.org/en-US/firefox/fx/"><img  src="assets/img/firefox.png"/></a></li>
                	</ul>
                		
               	</div>
               <img  src="assets/img/cat_loves_bubble.png">
                
            </div>
	</div>
</div>
</div>
<div id="loading">
	<div id="spinner"></div>
	<div id="loadingText">Loading <span id="loadingWhat"></span></div>
</div>



