<div class='PT-menu-column'>
	<h2>小吃 Tidbits</h2>
	<ul id="feature-tidbits" class="menu-items"></ul>
	<img class="flourish" src='assets/img/menu_platter.png' width='77px'/>
	<h3>All Tidbits</h3>
	<ul id="all-tidbits-one" class="menu-items"></ul>
	<img class="flourish" src='assets/img/menu_rose.png'  width='75px'/>
	<ul id="all-tidbits-two" class="menu-items"></ul>
</div>

<div class='PT-menu-column'>
	<h2>故事 Stories</h2>
	<span class="story-key">Aired on WGBH</span>
	<h3>Running a Takeout</h3>
	<ul class="menu-items">
		
		<li>
			<a class="radio-story" href="/collections/46156/view/46277">Dinner at a Cultural Crossroads</a>
			<span>6:40</span>
		</li>
		<li>
			<a href="/collections/46156/view/45516">My Harder Customers</a>
			<span>1:20</span>
		</li>
		<li>
			<a href="/collections/46156/view/45544">Gunpoint, Knifepoint, Everything</a>
			<span>1:23</span>
		</li>
		<li>
			<a href="/collections/46156/view/45537">The Broken Window</a>
			<span>0:38</span>
		</li>
		<li>
			<a href="/collections/46156/view/45539">Duck Sauce Wars</a>
			<span>1:15</span>
		</li>
		<li>
			<a href="/collections/46156/view/45535">The Making of Crab Rangoon</a>
			<span>0:17</span>
		</li>
		<li>
			<a href="/collections/46156/view/45540">The Making of Pork Fried Rice</a>
			<span>1:32</span>
		</li>
		<li>
			<a href="/collections/46156/view/45512">Shrimp Stinks</a>
			<span>2:10</span>
		</li>
	</ul>
	<h3>Regulars</h3>
	<ul class="menu-items">
		<li>
			<a class="radio-story" href="/collections/46157/view/46281">The Regulars</a>
			<span>8:38</span>
		</li>
		<li>
			<a href="/collections/46157/view/45530">I Come Here Because I'm Homeless</a>
			<span>2:03</span>
		</li>
		<li>
			<a href="/collections/46157/view/45536">The Dollar Plate</a>
			<span>1:23</span>
		</li>
		<li>
			<a href="/collections/46157/view/45538">There's Hair in My Food</a>
			<span>1:23</span>
		</li>
		<li>
			<a href="/collections/46157/view/45533">Late Night on Centre Street</a>
			<span>0:50</span>
		</li>
		<li>
			<a href="/collections/46157/view/45534">Food Wall to the Rescue</a>
			<span>0:55</span>
		</li>
		<li>
			<a href="/collections/46157/view/45515">I Like. Chinese. Food!</a>
			<span>0:52</span>
		</li>
	</ul>
	<img class="flourish" src='assets/img/menu_flourish.png' width="237px" />
	<h3>Neighborhoods</h3>
	<ul class="menu-items">

		<li>
			<a class="radio-story" href="/collections/46158/view/46275">A Recipe for Change</a>
			<span>6:47</span>
		</li>

		<!--  COMING SOON
		<li>
			<a href="/collections/46158/view/46277">Dining at Cultural Crossroads</a>
			<span>5:15</span>
		</li>
		-->
		<li>
			<a href="/collections/46158/view/45513">Forty-Three Years in Roxbury</a>
			<span>2:36</span>
		</li>
		<li>
			<a href="/collections/46158/view/45529">Curry Chips</a>
			<span>0:45</span>
		</li>
		<li>
			<a href="/collections/46158/view/45514">Football is an Oxymoron</a>
			<span>2:29</span>
		</li>
		<li>
			<a href="/collections/46158/view/45541">Takeouts en espanol: Kitchen side</a>
			<span>1:53</span>
		</li>
		
		<li>
			<a href="/collections/46158/view/45542">Takeouts en espanol: Dining side</a>
			<span>1:24</span>
		</li>
		
			<li>
			<a href="/collections/46158/view/45518">A Favorite Deliveryman</a>
			<span>0:46</span>
		</li>
	</ul>
	<h3>Generations</h3>
	<ul class="menu-items">
		<!--  COMING SOON
		<li>
			<a href="/collections/46159/view/{id}">Takeout: Legacy or Steppingstone? </a>
			<span>4:23</span>
		</li>
		  -->
		<li>
			<a href="/collections/46159/view/45520">A Disconnect Between Two People</a>
			<span>2:53</span>
		</li>
		<li>
			<a href="/collections/46159/view/45522">Sonny and Peter</a>
			<span>1:53</span>
		</li>
	
		<li>
			<a href="/collections/46159/view/43710">Who's Who at Hong Kong Chef</a>
			<span></span>
		</li>
		<li>
			<a href="/collections/46159/view/46196">Who is Alan?</a>
			<span>2:32</span>
		</li>
	</ul>
</div>

<div class='PT-menu-column'>
	<h2>外卖 Takeouts</h2>
	<ul id="house-special" class="menu-items specials"></ul>
	<img class="flourish" src='assets/img/menu_chef.png' width='77px'/>
	<h3>By Neighborhood</h3>
	<ul id="neighborhood-one" class="menu-items"></ul>
	<img class="flourish" src='assets/img/menu_junk.png' width='77px'/>
	<ul id="neighborhood-two" class="menu-items"></ul>
</div>
