

<div id='app-base'>
	
	<div id='grid-view-wrapper' style="background-color:#FFD8AB">
	
		
			
			<div style="padding-top:5%;">
				
				<div><h2 style="font-size:16px; line-height:16px; color:red; padding-left:10%; padding-right:10%;"><img style='padding-right:20px; width:50px; float:left'  src="assets/img/pt_logo-white.png"/>Please visit us on a  computer to enjoy 
				the full immersive experience!</h2>
				</div>
				<div  style="padding:5%;">
				
			</div>
				<h2 style="font-size:16px; line-height:16px; color:grey; padding-left:10%; padding-right:10%;">Planet Takeout is a participatory documentary project about the  Chinese takeout as a vital cultural crossroads in Boston and beyond.</h2>
				<br>
			</div>
			

			

		
		

	</div>
</div>