<li><a href="/"><div  id="pt-nav-home" class='pt-logo home'></div></a></li>
<li style='margin-left:117px'><a href="collections"><div id="pt-nav-collections" class='pt-logo collections'></div></a></li>
<li><a href="map"><div id="pt-nav-map" class='pt-logo map'></div></a></li>
<li><a href="participate"><div id="pt-nav-participate" class='pt-logo participate'></div></a></li>
<li><a href="menu"><div id="pt-nav-menu" class='pt-logo menu'></div></a></li>
<li><a href="about"><div id="pt-nav-about" class='pt-logo about'></div></a></li>
<!--<li><a href="search"><img class='nav-icon' src="assets/img/icon_search.png"/></a></li>-->